.full-width-container {
  width: 100%;
  min-height: 100vh;
  max-height: 100%; /* Added to prevent content overflow */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Alinea el contenido en columna */
}